.App {
  text-align: center;
  margin-top: 100px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}